/* banner styles */
header {
      background: rgba(229, 84, 115, 0.10);
      margin: 0;
      width: 1920px;
      height: 850px;
      display: flex;
      justify-content: space-between;
      padding: 0 230px;

}

.banner-header {
      color: #272727;
      font-family: Lato;
      font-size: 80px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      padding-top: 197px;
      margin-bottom: 32px;

}

.header-description {
      color: rgba(39, 39, 39, 0.60);
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 32px;
}

.primary-button {
      display: inline-flex;
      padding: 20px 43px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 8px;
      background: #E55473;
      border: none;
      color: #FFF;
      margin-bottom: 150px;


}

.banner-image {

      margin-top: 50px;
}

/* section style */

.section-header {
      color: #272727;
      text-align: center;
      font-family: Lato;
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 24px;
      margin-left: 764px;
      margin-right: 764px;

}

.section-paragraph {
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      margin-left: 663px;
      margin-right: 663px;
}

.section-part-1 {
      margin-top: 150px;
}

.section-part-2 {
      display: flex;
      width: 1440px;
      height: 320px;
      border-radius: 8px;
      background: rgba(39, 39, 39, 0.05);
      /* margin-left: 410px; */
      /* margin-right: 410px; */
      margin: 128px 240px;

}

.section-part-2>div {
      padding: 86px 50px;

}

.section-part2-div1,
.section-part2-div2,
.section-part2-div3 {
      text-align: center;
}

.section-part2-info {
      color: rgba(39, 39, 39, 0.80);
      /* text-align: center; */
      font-family: Lato;
      font-size: 24px;
      width: 372px;
      /* font-style: normal; */
      /* font-weight: 600; */
      /* line-height: 35px; */
}

body {
      max-width: 1920px;
}

.section-part-3 {
      width: 1920px;
      background: #FFF;
      display: flex;
      text-align: center;
      margin-left: 286px;
      margin-right: 198px;
      margin-top: 48px;
}

.section-part3-img1 {
      flex-shrink: 0;
      border-radius: 300px 300px 0px 0px;
      background: rgba(167, 33, 98, 0.15);
      padding: 110px 78px 0px 76px;
      width: 310px;
      height: 428px;
      flex-shrink: 0;
}

.section-part3-imgtitle {
      color: #272727;
      text-align: center;
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px;
      text-decoration-line: underline;
}

.section-part3-img2 {
      width: 464px;
      height: 538px;
      flex-shrink: 0;
      border-radius: 300px 300px 0px 0px;
      background: rgba(5, 151, 160, 0.15);
      padding: 117px 47px 51px 47px;
      width: 370px;
      height: 370px;

}

.section-part3-img3 {
      width: 370px;
      height: 370px;
      flex-shrink: 0;
      width: 464px;
      height: 538px;
      flex-shrink: 0;
      border-radius: 300px 300px 0px 0px;
      background: rgba(71, 125, 17, 0.15);
}

.section-part3-div1,
.section-part3-div2,
.section-part3-div3 {
      padding-right: 24px;
}

/* section part4 styles */

.section-part-4 {
      margin-top: 286px;
}

.section-part4-title {
      color: #272727;
      text-align: center;
      font-family: Lato;
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 24px;
}

.section-part4-info {
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 0px;
}

/* section-part5-styles */
.section-part5-images {
      width: 342px;
      height: 396px;
      flex-shrink: 0;
      margin: 30px 240px 0px 240px;
      display: flex;
      background: #FFF;

}

.section-part5-images>img {
      padding-right: 25px;
}

.discount-banner {
      display: flex;
      text-align: center;
      height: 620px;
      border-radius: 8px;
      background: rgba(229, 84, 115, 0.05);
      margin: 0;
      padding-top: 100px;
      padding-left: 423px;
      padding-right: 429px;
      justify-content: space-between;
      width: 1920px;

}

.discount-whole {
      margin: 130px 215px 342px 423px;
}

.discount-title {
      color: #272727;
      font-family: Lato;
      font-size: 40px;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 24px;
}

#off-style {
      color: #E55473;
      font-family: Lato;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
}

.discount-details {
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
}
.section-banner > img{
      margin-right: 429px;
}
body{
      max-width: 1920px;
}